node_modules
.turbo
apps/*/build
apps/*/.svelte-kit
apps/*/test-results
components/frontends/*/build
components/frontends/*/.svelte-kit
components/frontends/*/test-results
packages/*/dist
storybook-static/
.svelte-kit
test-results
